style.css
body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;


} 

#navbar {
    overflow:hidden;
    top:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }

  li a {
    padding: 8px;
    display: :block;
  }
  

  li {
    display: inline;
      
  }



.main {
    display: flex;
    
    justify-content: center;
    align-items: center; 
    
} 


#logo {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 180px 10px 10px 20px;
} 



#searchBar{
    justify-content: center;
    display: flex;
    margin: 45px auto;

    height: 40px;
    
}



#p1 {
    display: flex;
    justify-content: center;
}

#footer {

overflow: hidden;
bottom:0;
padding:0;
margin:0;
} 